body {
  background-color: $body-bgColor !important;
}

.fs__14 {
  font-size: 14px;
}

.fs__17 {
  font-size: 17px;
}

.fs-22 {
  font-size: 22px;
}

.h-100vh {
  height: $loader-height;
}

.error__border {
  border: 2px solid $error-color !important;
}

input.error__color::placeholder, textarea.error__color::placeholder, .error__color {
  color: $error-color !important;
}
