// Colors
$body-bgColor: #fffdfe;
$loader-bgColor: #1E1E1E;
$button-default-bgColor: #04728fe0;
$button-post-bgColor: #00495ce0;
$error-color: #c60e0e;
// Width
$image-height: 100%;
$loader-height: 100vh;
// Inherit
$image-inherit: inherit;