.products {
    .product__title {
        text-align: center;
        margin: 45px 0px;
        span {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 0.5px;
            opacity: .8;
        }
        h4 {
            text-transform: capitalize;
            margin: 5px 0px;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}