.customize__button {
    background-color: $button-default-bgColor;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    padding: 5px 8px;
}

.bgColor__00495ce0 {
    background-color: $button-post-bgColor;
}

.border__radius {
    border-radius: 25px;
}

.p__10 {
    padding: 15px 85px;
}
